<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.md2k.study">
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/app_theme_teal_light">
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.app_install.ActivityInstallApp"
            android:label="Install Application"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.app_service.ActivityService"
            android:label="Run Application"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.app_settings.ActivityAppSettings"
            android:label="Application Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.intervention.ActivityInterventionApp"
            android:label="@string/title_intervention_apps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.admin.ActivityAdmin"
            android:label="@string/settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.selfreport.ActivitySelfReport"
            android:label="Self Report"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.config_download.ActivityConfigDownload"
            android:label="Download Configuration File"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.sleep.ActivitySleep"
            android:label="Going to bed"
            android:screenOrientation="portrait" />

        <service
            android:name=".system_health.ServiceSystemHealth"
            android:enabled="true"
            android:exported="true"/>
        <receiver android:name=".BootReceiver">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1cad146ed866fa3d49c3bc8376ff52af7d9970da" />
    </application>

</manifest>
