<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.md2k.study">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeDark" >
        <activity
            android:name="org.md2k.study.ActivitymCerebrumApp"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityAppList"
            android:label="Applications"
            android:theme="@style/AppThemeDark">
        </activity>
        <activity
            android:name=".ActivityServiceList"
            android:label="Services"
            android:theme="@style/AppThemeDark">
        </activity>

        <activity
            android:name=".ActivityAbout"
            android:label="About PhoneSensor"
            android:icon="@drawable/about"
            android:theme="@style/AppThemeDark">
        </activity>
        <activity
            android:name=".ActivityCopyright"
            android:label="Copyright"
            android:icon="@drawable/copyright"
            android:theme="@style/AppThemeDark">
        </activity>

    </application>
</manifest>
