<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.md2k.study"
    >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/app_theme_teal_light" >
        <activity
            android:name="org.md2k.study.ActivityMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.app_install.ActivityInstallApp"
            android:label="Applications" />
        <activity
            android:name=".user.service.ActivityService"
            android:label="Run Applications" />
        <activity
            android:name=".admin.app_settings.ActivityAppSettings"
            android:label="Application Settings" />
        <activity
            android:name=".user.application.interventionapp.ActivityInterventionApp"
            android:label="@string/title_intervention_apps" />
        <activity
            android:name=".admin.ActivitySettings"
            android:label="@string/settings" />
        <activity
            android:name=".user.application.selfreport.ActivitySelfReport"
            android:label="Self Report" />
        <service
            android:name=".ServiceSystemHealth"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>
